.homeImageDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.homeImage {
  width: 500px;
  height: 500px;
  margin: 25px;
  border-radius: 80%;
}
.descriptionStyle {
  width: 50%;
  padding: 2rem;
  text-align: justify;
  line-height: 2.5rem;
}
.titleContainer{
    width:100%;
    height: fit-content;
    border: 1px solid red;
}
.featuredTitle {
  backgrond-color: transparent;
  display: flex;
  color: #fff;
  padding: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 70%;
  margin-inline: auto;
}

.featuredTitle:before,
.featuredTitle:after {
  content: "";
  margin: auto 1em;
  border-bottom: solid 1px #fff;
  flex: 1;
}
.title {
    position: relative;
    padding: 0.25em 1em;
    overflow: hidden;
    background: 
      linear-gradient(#fff, #fff) no-repeat top center, 
      linear-gradient(#fff, #fff) no-repeat bottom center;
    background-size: calc(100% - 1.65em) 1px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Quantico','Changa','Noto Sans', sans-serif;
    text-transform: uppercase;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title:before,
.title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 1px #fff;
  border-top: none;
  border-bottom: none;
  transform: skew(40deg);
}

.title:after {
  transform: skew(-40deg);
}
